doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button(type='button', class='navbar-toggle collapsed', data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Node Blog
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            if user
              li(class=(title === 'Posts' ? 'active' : ''))
                a(href='/') All Posts
              li(class=(title === 'Add Post' ? 'active' : ''))
                a(href='/posts/add') Add Post
              li(class=(title === 'Add Category' ? 'active' : ''))
                a(href='/categories/add') Add Category
              li(class=(title === 'All Categories' ? 'active' : ''))
                a(href='/categories') View Categories
            if !user
              li(class=(title === 'Register' ? 'active' : ''))
                a(href='/users/register') Register
              li(class=(title === 'Login' ? 'active' : ''))
                a(href='/users/login') Login
          if user
            ul.nav.navbar-nav.navbar-right
              li(class='')
                a(href='/users/logout') Logout

    .container.flex-grail
      // the != will parse the html returned by messages()
      != messages()
      block content
    footer
      p NodeBlog &copy; 2016

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src='/javascripts/main.js')
